.box{
  border: 2px dotted plum;
  width: 200px;
}

 h3::after{
            content: '.pdf';
            color: red;
            font-size: 10px;
            background-color: yellow;
        }
        h3::before{
            content: 'start: ';
            color: red;
            font-size: 10px;
            background-color: yellow;
        }
        p::first-letter{
            font-size: 2em;
        }
        input:focus{
            color: blue;
            /* padding-left: 20px; */
            outline: 0;
            border: 1px solid purple;
        }
        a:visited{
            color: gray;
        }
        /* li:last-child{
            color: red;
        } */
        /* li:first-child{
            background-color: aqua;
        } */
        li:nth-child(3n+1){
            color: purple;
        }